@page "/"
@namespace ZDC.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    <link rel="stylesheet" href="/css/libs.bundle.css" />
    <link rel="stylesheet" href="/css/theme.bundle.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link href="_content/BlazorPro.Spinkit/spinkit.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-300">
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/theme.bundle.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
