@page "/"
<Title>vZDC ARTCC | Home</Title>
<div class="container-zdc">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm card-margin">
                    <OnlineControllers />
                </div>
            </div>
            <div class="row">
                <div class="col-sm card-margin">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm card-margin">
                    <OnlineFacilities />
                </div>
            </div>
            <div class="row">
                <div class="col-sm card-margin">
                    <Announcements />
                </div>
            </div>
        </div>
    </div>
</div>
