@using ZDC.Blazor.Services
@using ZDC.Models
@inject AnnouncementService AnnouncementService

<div class="card shadow-dark">
    <div class="card-header bg-light padding">
        <h3 class="font-bold text-center">
            <i class="fas fa-list-alt"></i> Announcements
        </h3>
    </div>
    <div class="card-body bg-between padding">
        @if (_announcements == null)
        {
            <h3 class="text-center text-danger font-bold">Error Fetching Announcements</h3>
        }
        else if (_announcements != null && _announcements.Count > 0)
        {
                foreach (var announcement in _announcements)
                {
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-sm">
                            <a>
                                <h4 class="font-bold">
                                <span class="text-white announcement-date bg-gray-800 rounded">@announcement.Created.ToString("MMMM dd yyyy")</span>
                                    @announcement.Title 
                                    <span class="text-muted">by @announcement.User.FullName</span>
                                </h4>
                            </a>
                        </div>
                    </div>
                }
        }
        else
        {
            <h3 class="text-center font-bold">No Announcements Found</h3>
        }
    </div>
</div>

@code {
    private IList<Announcement> _announcements;

    protected override async Task OnInitializedAsync()
    {
        _announcements = await AnnouncementService.GetAnnouncementsFull();
    }
}
