.navbar-default {
    border: none !important;
}

.navbar {
    border: none !important;
}

.navbar-nav {
    border: none !important;
}

.nav-item-padding {
    padding: 0.4rem !important;
}

.container-zdc {
    margin-left: 10%;
    margin-right: 10%;
}

.font-bold {
    font-weight: bold;
}

.card-margin {
    margin-bottom: 4%;
}

.announcement-date {
    padding: 5px;
}

.padding {
    padding: 0.8rem !important;
}

.home-image {
    background-image: url("../images/Washington.jpg");
    min-height: 100%
}

.top-first {
    background: rgb(204,189,103);
    background: linear-gradient(90deg, rgba(204,189,103,1) 0%, rgba(255,221,0,1) 50%);
}

.top-second {
    background: rgb(110,109,109);
    background: linear-gradient(90deg, rgba(110,109,109,1) 0%, rgba(153,153,153,1) 50%);
}

.top-third {
    background: rgb(209,156,71);
    background: linear-gradient(90deg, rgba(209,156,71,1) 0%, rgba(255,157,0,1) 50%);
}