.container-zdc {
    margin-left: 15%;
    margin-right: 15%;
}

.font-bold {
    font-weight: bold;
}

.padding {
    padding: 5px;
}

.card-margin {
    margin-bottom: 2%;
}

.announcement-date {
    padding: 5px;
}