::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.active {
    background-color: #fff !important;
    border-color: #f1f4f8 !important;
}

.navbar-dark.fixed-top > .container:after {
    display: none;
}

.nav-item-padding {
    padding: 0.4rem !important;
}

.container-zdc {
    margin-left: 10%;
    margin-right: 10%;
}

.container-60 {
    margin-left: 20%;
    margin-right: 20%;
}

.font-bold {
    font-weight: bold;
}

.card-margin {
    margin-bottom: 4%;
}

.announcement-date {
    padding: 5px;
}

.padding {
    padding: 0.8rem !important;
}

.home-image {
    background-image: url("../images/Washington.jpg");
    min-height: 100%
}

.top-first {
    background: rgb(204,189,103);
    background: linear-gradient(90deg, rgba(204,189,103,1) 0%, rgba(255,221,0,1) 50%);
}

.top-second {
    background: rgb(110,109,109);
    background: linear-gradient(90deg, rgba(110,109,109,1) 0%, rgba(153,153,153,1) 50%);
}

.top-third {
    background: rgb(209,156,71);
    background: linear-gradient(90deg, rgba(209,156,71,1) 0%, rgba(255,157,0,1) 50%);
}